<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/AboutUs">About Us</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Services">Services</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Contact">Contact</a>
</li>